# ignore the python class files (.pyc)
__pycache__/

# ignore the log file
*.log

# ignore the output csv files
*.csv

# ignore the winscp script files and logs
winscp_script/
winscp_log/

# ignore the sftp config file, because production is using Bloomberg private router
sftp.config