# The configuration file for sftp.py
#


[winscp]

# where to look for winscp.com
application=C:\Program Files (x86)\WinSCP\WinSCP.com

# where to store the script files
script_dir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\trustee\winscp_script

# where to store the winscp log files
log_dir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\trustee\winscp_log


[sftp]

# the time limit for a sftp job in seconds
timeout=180

# remote server address
#server=test.rebex.net
server=sftp.clamc.com.hk

# username
#username=demo
username=svc_sftp

# password
#password=password
password=CEcY26