# The configuration file for DIF portfolio.
#



[logging]

# log level: debug, info, warning, error, critical
log_level=debug



[data]

# the directory to load input NAV files
#input=C:\Users\steven.zhang\Desktop\transfer\NAV reports
#input=C:\Users\steven.zhang\Desktop\match
input=C:\temp\HTM price upload

# the directory to put output csv files
#output=C:\Users\steven.zhang\Desktop\transfer\NAV reports\result
#output=C:\Users\steven.zhang\Desktop\match\
output=C:\temp\HTM price upload